
 
<div class ="recipe">
    <div>
        <h1>Chicken Tikka Masala (Dhabha Style Chicken Masala Recipe)</h1>
    </div>
<br>
    <div class="prep-time">
        Prep time: 25-30 minutes <br>
        Cooking time: 30-40 minutes <br>
        Serves: 4-5 people 
    </div>
    <img src="./assets/chickenmasalapic1.jpg" alt="Chicken Masala">&nbsp;&nbsp;

    <section class="ingredients">

        <h2>Ingredients:</h2>
        
        <h3>1st Marination:</h3>
        <ul>
            <li>Chicken thigh 500 gm (boneless)</li>
            <li>Salt to taste</li>
            <li>Kashmiri lal mirch (red chilli) powder 1 tsp</li>
            <li>Lemon juice 1 tsp</li>
            <li>Ginger garlic chilli paste 2 tbsp</li>
        </ul>
        
        <h3>2nd Marination:</h3>
        <ul>
            <li>Mustard oil 2 tbsp</li>
            <li>Kashmiri red chillies 1 tbsp</li>
            <li>Turmeric powder 1/4th tsp</li>
            <li>Garam masala 1 tsp</li>
            <li>Cumin powder 1 tsp</li>
            <li>Black salt 1 tsp</li>
            <li>Chaat masala 1 tsp</li>
            <li>Kasuri methi 1 tsp</li>
            <li>A pinch of salt</li>
            <li>Ginger garlic chilli paste 1 tsp</li>
            <li>Hung curd 1/4th cup</li>
        </ul>
        
        <h3>Additional Ingredients:</h3>
        <ul>
            <li>Live charcoal + ghee</li>
            <li>Oil as required for cooking the chicken</li>
        </ul>
        
        <h2>Instructions:</h2>
        <div class="img-ingredient">
          <img src="./assets/chatmasala.jpg" alt="Chat Masala" class="zoom-image">
          <img src="./assets/bonelesschicken.jpg" alt="Boneless Chicken" class="zoom-image">
          <img src="./assets/freshmint.jpg" alt="Fresh Mint" class="zoom-image">
          <img src="./assets/kashmirichilli.jpg" alt="Kahmiri Chilli" class="zoom-image">
          <img src="./assets/kashurimethi.jpg" alt="Kashuri Methi" class="zoom-image">
    </div>
    <div class="item-label">
      <label for="amchur">Chat Masala Powder</label>
      <label for="chicken">Boneless Chicken</label>
      <label for="mint">Fresh Mint</label>
      <label for="chilli">Kashmiri Chilli</label>
      <label for="kashuri">Kashuri Methi</label>
    </div>
  
    <div class="img-ingredient">
      <img src="./assets/corianderpowder.jpg" alt="Coriander Powder" class="zoom-image">
      <img src="./assets/freshcoriander.jpg" alt="Coriander" class="zoom-image">
      <img src="./assets/blacksalt.jpg" alt="Black Salt" class="zoom-image" >
      <img src="./assets/curd.jpg" alt="Curd" class="zoom-image">
   
      <img src="./assets/cuminpowder.jpg" alt="Cumin Powder" class="zoom-image">
   
  </div>
  
  <div class="item-label">
  <label for="coriander">Coriander Powder</label>
  <label for="leaf">Corinader Leafs</label>
  <label for="blacksalt">Black Salt</label>
  <label for="curd">Fresh Yogurt</label>
  <label for="cumin">Cumin Powder</label>
  
  </div>
  
    
    <section class="instructions">
      <h3>Preparing the Chicken:</h3>
      <ol style="list-style: none;">
              <li>Add all the ingredients of the first marination in bowl, mix well & massage the chicken pieces really well. Keep the chicken marinated for 10-15 minutes.
                For 2nd marination, take another bowl, mix oil and red chilli powder first, whisk well to bleed its natural red colour, further add the remaining ingredients of the 2nd marination and mix well, apply this marination mixture to the already marinated chicken & keep it marinated for at least 30 minutes.
                Smoke the chicken by dropping few drops of ghee over the burning charcoal, cover it for 3-4 minutes. <br>
               <div class="chk-marinate"> <img src="./assets/chickenmasalamarinate1.jpg" alt="Chicken Masala Marinate"></div> 
                After the marination, skew the chicken pieces in a skewer, and reserve the marinade for later use.
                Set a pan on medium heat, add oil, and cook the chicken from all side until it’s cooked and tender. 
                Once grilled/cooked, drizzle some melted butter over it, and briefly char them on open flame to get the charred texture.
                You can serve them at this stage as well as a starter, with some green chutney, fresh onion rings and some lemon on side, make sure to sprinkle some chaat masala before serving, but as we are going to make the gravy version, keep them aside to be used later.</li>
                <div class="chk-marinate"> <img src="./assets/chickenmasalaskew.jpg" alt="Chicken Masala Marinate"></div> 
            </ol>
          </section>
    <hr>
    <h1>Chicken Tikka Gravy Recipe</h1>
    <p>Chicken tikka gravy is made by combining the makhani gravy and the onion tomato gravy.</p>
    
    <h2>Gravy Ingredients:</h2>
    
    <h3>Makhani Gravy:</h3>
    <ul>
        <li>Oil 1 tbsp</li>
        <li>Jeera 1 tsp</li>
        <li>Tej patta 2-3 nos.</li>
        <li>Hari elaichi 3-4 pods</li>
        <li>Onions 2 medium size</li>
        <li>Tomatoes 6-7 medium size (chopped)</li>
        <li>Garlic 8-10 cloves</li>
        <li>Ginger 1 inch</li>
        <li>Green chillies 3-4 nos.</li>
        <li>Fresh coriander stems 1 tbsp</li>
        <li>Kashmiri red chillies 8-10 nos.</li>
        <li>Cashew nuts 1/3rd cup</li>
        <li>Salt to taste</li>
        <li>Haldi (turmeric) powder 1/4th tsp</li>
        <li>Kashmiri red chilli powder 1 tsp</li>
        <li>Kasuri methi 1 tsp</li>
        <li>Water as required</li>
    </ul>
    
    <h3>Onion Tomato Masala Gravy:</h3>
    <ul>
        <li>Ghee 2 tbsp</li>
        <li>Cumin seeds 1 tsp</li>
        <li>Garlic 2 tbsp (chopped)</li>
        <li>Green chillies 2-3 nos. (chopped)</li>
        <li>Onions 3 medium sized (chopped)</li>
        <li>Turmeric powder ½ tsp</li>
        <li>Kashmiri red chilli powder 1 tbsp</li>
        <li>Ginger garlic chilli paste 1 tbsp</li>
        <li>Cumin powder 1 tsp</li>
        <li>Coriander powder 2 tsp</li>
        <li>Tomatoes 3 medium sized (chopped)</li>
        <li>Salt to taste</li>
        <li>Honey 1 tbsp</li>
    </ul>
    
    <h3>Final Preparation:</h3>
    <ul>
        <li>Prepared chicken tikka</li>
        <li>Fresh cream 2-3 tbsp</li>
        <li>Butter 1 tbsp</li>
        <li>Kasuri methi 1 tsp</li>
        <li>A pinch of garam masala</li>
        <li>Ginger 1 inch (julienned)</li>
        <li>Green chillies 2-3 nos. (slit)</li>
        <li>Fresh coriander leaves (chopped) as required</li>
    </ul>
       
        <section class="instructions">
          <h3>Preparing the Makhani Gravy Base</h3>
    
          <ol style="list-style: none;">
              <li>For makhani base gravy, set a pan or a wok on medium heat, add oil, jeera, tej patta & elaichi, stir once and further add onions, stir & cook on medium high heat until the onions start to get some colour.
                Further add tomatoes and the remaining ingredients and stir & cook on high flame for 4-5 minutes, further add 300-400 ml water, stir and cover and cook on medium flame for 15-20 minutes.
                Further switch off the flame & allow to cool down to room temperature. <br> <br>
                Once cooled discard the bay leaves and transfer the mixture in a grinding jar, grind to make fine puree, you can add little water while grinding. Your makhani base gravy is ready. Keep aside to be used later.
                To continue further, we need to make the onion tomato masala, so set a pan on medium heat, add, ghee, jeera and allow the jeera to crackle further add, garlic, stir and cook on medium heat until the garlic starts to get some colour.
                Further add green chillies & onions, stir and cook on medium flame until the onions are light golden brown in colour. <br> <br>
                Now lower the flame and add the turmeric powder & kashmiri red chilli powder, add little hot water to avoid the spices from burning, stir for a minute.
                Further add ginger garlic chilli paste and stir & cook on medium flame for 1-2 minutes, further add cumin powder, coriander powder, tomatoes and salt, stir and cook for a minute.
                Lower the flame, cover & cook on low flame for 10-15 minutes, make sure to stir in intervals, add some hot water if required to continue the cooking process, adjust the flame low to medium low heat, stir and cook until the ghee separates. <br> <br>
                Your onion tomato masala gravy is ready, add the prepared makhani gravy & the reserved marinade along with honey, stir well & cook for 4-5 minutes on medium flame.
                No, add the prepared chicken tikka, make sure to remove the skewers, stir gently & cook for 2-3 minutes.
                Further add fresh cream, butter, kasuri methi, garam masala, ginger & green chillies, cook for 2-3 minutes on medium flame, finish by adding some freshly chopped coriander leaves.
                Your chicken tikka is ready, serve hot with some hot tandoori roti of your choice.</li>
          </ol>
    </section>

    </section>
  
    <iframe width="560" height="315" src="https://www.youtube.com/embed/wm5vqZcl8BQ?si=HB87_IAdIv0cA75i" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
  
    </div>
  
