
<div id="topic">
  <div class="def">
   <span class="style-w">We</span> genuinely adore watching you whip up dishes from various corners of the world! It's such a joy to see the smiles on the faces of your family and friends as they taste your creations. Exploring and cooking recipes from different cultures not only tantalizes our taste buds but also bridges gaps, bringing us all a little closer. Every recipe has its own story and essence from its native land, and by cooking it, you're a part of that beautiful journey.

   Should you stumble upon a recipe on our site that warms your heart (or your palate), please drop a little note in the comments section beneath each recipe. We cherish your feedback and would love to hear your experiences, modifications, or even little anecdotes related to the dish. Happy cooking, and let the flavors from around the world continue to unite us! 🌍🍲🥂.

</div>
</div>
<div class="img-link">
    <div class="image-container">
      <a routerLink="/buttermasala"> <img src="./assets/butterchicken3.jpg" alt="Butter Chicken"> </a>  
        <span class="image-label">Butter Chicken</span>
    </div>
    <div class="image-container">
      <a routerLink="/chickenmasala">  <img src="./assets/chickenmasalapic1.jpg" alt="Chicken Masala"> </a>
        <span class="image-label">Chicken Masala</span>
    </div>
    <div class="image-container">
        <a routerLink="/chickenkorma">  <img src="./assets/chickenkoram1.jpg" alt="Chicken Korma"> </a>
        <span class="image-label">Chicken Korma</span>
    </div>
  
</div>
<div class="img-link">
    <div class="image-container">
        <img src="./assets/butterchicken1.png" alt="Butter Chicken">
        <span class="image-label">Butter Chicken</span>
    </div>
    <div class="image-container">
        <img src="./assets/butterchicken1.png" alt="Butter Chicken" >
        <span class="image-label">Butter Chicken</span>
    </div>
    <div class="image-container">
        <img src="./assets/butterchicken1.png" alt="Butter Chicken">
        <span class="image-label">Butter Chicken</span>
    </div>
  
</div>