<nav class="header-nav">
    <div class="logo">
      All Recipes
    </div>
    <ul class="nav-links">
        <li><a  routerLink="/homepage">Home</a></li>
        <li class="dropdown">
            <a href="#">Indian</a>
            <ul>
                <li class="sub-dropdown">
                    <a href="#">Non-Vege</a>
                    <ul>
                        <li><a routerLink="/buttermasala">Butter Chicken</a></li>
                        <li><a routerLink="/chickenmasala">Chicken Masala</a></li>
                        <li><a routerLink="/chickenkorma">Chicken Korma</a></li>
                    </ul>
                </li>

                <li class="sub-dropdown">
                    <a href="#">Vege</a>
                    <ul>
                        <li><a href="#panir-makhani">Panir Makhani</a></li>
                        <li><a href="#palak-panir">Palak Paneer</a></li>
                        <li><a href="#malai-kofta">Malai Kofta</a></li>
                    </ul>
                </li>
                
            </ul>

        </li>
        <!-- You can add more links here as you add more recipes or pages -->
        <li><a href="/">Mexican</a></li>
        <li><a href="/">Japanese</a></li>
        <li><a href="/">Korean</a></li>
        <li><a href="/">Chinese</a></li>
    </ul>
</nav>
