* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
   
}

.recipe {
    font-family: Arial, sans-serif;
    padding: 20px;
    max-width: 800px;
    margin: 20px auto;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 5px rgba(0,0,0,0.1);
}

h1, h2, h3 {
    color: #333;
    padding: 10px 0;
}

ul, ol {
    margin-left: 20px;
    list-style-type: disc;
}

ul li, ol li {
    margin-bottom: 10px;
}
img{
    height: 300px;
    width: 400px;
    border: 1px groove;
    box-shadow: 1px 2px 2px 3px rgb(206, 206, 239);
    margin-left: 25%;
    
}
.instructions{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif !important;
    font-size: 18px;
}

iframe{
    width: 765px;
}