<div class ="recipe">
  <h1>Butter Chicken (Dhaba-style Murgh Makhani)</h1>
  <img src="./assets/butterchicken2.jpg" alt="butter_chicken_pic2">&nbsp;&nbsp;
 <!--
<img src="./assets/butterchicken1.png" alt="butter_chicken_pic1">
 --> 
  <section class="ingredients">
      <h2>Ingredients</h2>

      <h3>For Tandoori Chicken/Chicken Tikka:</h3>
      <ul>
          <li>Boneless chicken – 1kg</li>
          <li>Mustard oil – 2 tbsp</li>
          <li>Kashmir Red chilli powder – 2 tbsp</li>
          <li>Ginger garlic paste – 2 tbsp</li>
          <li>Dhaniya (Coriander) powder – 1 tbsp</li>
          <li>Jeera (cumin) powder – 1 tsp</li>
          <li>Haldi (turmeric) powder – ½ tsp</li>
          <li>Kasuri methi – 1 tsp</li>
          <li>Amchur powder – 1 tsp</li>
          <li>Black salt – ½ tsp</li>
          <li>Garam masala – 1 tsp</li>
          <li>Fresh mint – 1 tbsp</li>
          <li>Fresh Coriander – 1 tbsp</li>
          <li>Salt to taste</li>
          <li>Thick curd – ½ cup</li>
          <li>Lemon juice – 1 tbsp</li>
          <li>Live charcoal + ghee</li>
          <li>Oil for grilling</li>
      </ul>
      <div class="img-ingredient">
        <img src="./assets/aamchurpowder.jpg" alt="Amchur" class="zoom-image">
        <img src="./assets/bonelesschicken.jpg" alt="Boneless Chicken" class="zoom-image">
        <img src="./assets/freshmint.jpg" alt="Fresh Mint" class="zoom-image">
        <img src="./assets/kashmirichilli.jpg" alt="Kahmiri Chilli" class="zoom-image">
        <img src="./assets/kashurimethi.jpg" alt="Kashuri Methi" class="zoom-image">
  </div>
  <div class="item-label">
    <label for="amchur">Aamchur Powder</label>
    <label for="chicken">Boneless Chicken</label>
    <label for="mint">Fresh Mint</label>
    <label for="chilli">Kashmiri Chilli</label>
    <label for="kashuri">Kashuri Methi</label>
  </div>

  <div class="img-ingredient">
    <img src="./assets/corianderpowder.jpg" alt="Coriander Powder" class="zoom-image">
    <img src="./assets/freshcoriander.jpg" alt="Coriander" class="zoom-image">
    <img src="./assets/blacksalt.jpg" alt="Black Salt" class="zoom-image" >
    <img src="./assets/curd.jpg" alt="Curd" class="zoom-image">
 
    <img src="./assets/cuminpowder.jpg" alt="Cumin Powder" class="zoom-image">
 
</div>

<div class="item-label">
  <label for="coriander">Coriander Powder</label>
  <label for="leaf">Corinader Leafs</label>
<label for="blacksalt">Black Salt</label>
<label for="curd">Fresh Yogurt</label>
<label for="cumin">Cumin Powder</label>

</div>

  
      <section class="instructions">
    <h3>Preparing the Chicken:</h3>
    <ol style="list-style: none;">
            <li>Start by slicing the chicken breast, you can also use chicken thighs, as per your convenience, slice them thinly for even and faster cooking.
            For marinade, take mixing bowl, add Mustard oil and Kashmiri Red chilli powder, mix well to bleed it's natural red colour. Further add the remaining marinade ingredients and mix well, now add the thinly sliced chicken, mix and coat well and keep it marinated for at-least an hour or two, but incase if you have time keep it for as long as you can for more juicy and flavourful chicken, please do not go beyond 20 hours in the fridge or else the chicken may spoil. Smoke the marinated chicken for 4-5 minutes to impart the smoky flavour. You can smoke the chicken at three stage that'll make difference of smoke flavour in the dish, one is, you can smoke at the marination stage where you'll get subtle flavour of smoke, second you can smoke after grilling and third you can smoke at final stage just before serving the dominant smoke flavour, the choice is yours.
            Once it's been marinated and smoked, set a grill pan or any pan and grill the chicken on both the sides until golden brown in colour, you can also grill them oven for 5-6minutes at 220°C.
            Once the chicken is grilled let them cool for a while and shred them in thin strips. Keep aside for later use.</li>
        </ol>
        </section>
  <hr>
      <h3>For Makhani Gravy Base:</h3>
      <ul>
          <li>Oil – 2 tbsp</li>
          <li>Jeera – 1 TSP</li>
          <li>Onions – 3-4 medium size (sliced)</li>
          <li>Garlic – 10-15 cloves</li>
          <li>Ginger – 1 inch (roughly Chopped)</li>
          <li>Green chillies – 3-4 nos.</li>
          <li>Kashmiri Red chilli powder – 2 tbsp</li>
          <li>Dhaniya powder – 1 tbsp</li>
          <li>Haldi powder – ½ tsp</li>
          <li>Kasuri methi – ½ tsp</li>
          <li>Whole kashmiri Red chillies – 6-7 nos.</li>
          <li>Green cardamom – 3-4 nos.</li>
          <li>Tomatoes – 1 kg (roughly Chopped)</li>
          <li>Cashew nuts – 1/3rd cup</li>
          <li>Coriander stems & roots – a small handful</li>
          <li>Salt to taste</li>
          <li>Butter – 2 tbsp</li>
      </ul>
     
      <section class="instructions">
        <h3>Preparing the Makhani Gravy Base</h3>
  
        <ol style="list-style: none;">
            <li>Set a stock pot on medium heat, add oil, jeera and sliced onions, saute until onions are light golden brown.
            Further, add garlic, Ginger, Green chillies, powdered spices, whole chillies and green cardamom, mix well and cook for a minute.
            Now, add tomatoes, cashew nuts, coriander stems with its roots, salt to taste and butter, mix and cook on medium high heat for 5 minutes.
            Further lower the heat, cover and cook for 25-30 minutes on medium low heat. Stir in intervals to avoid from sticking to the pan and burning.
            As the tomatoes will leave their water, there is no need to add additional water, let them cook in their own water. If incase it starts to dry please add hot water as required to Cook the tomatoes, do not add too much of water.
            Once the tomatoes are cooked, switch off the flame and let the mixture cool down to room temperature.
            Once cooled, transfer the mixture to a grinding jar and grind to a fine puree, if you are in hurry you can add ice cubes and grind it.
            Once the entire batch is pureed, strain the puree with a sieve and keep aside for later use.</li>
        </ol>
  </section>
<hr>
      <h3>For Butter Chicken Final Cooking:</h3>
      <ul>
          <li>Butter – 2tbsp</li>
          <li>Oil – 1 tsp</li>
          <li>Onions – 1 medium size (chopped)</li>
          <li>Garlic – 3 tbsp (chopped)</li>
          <li>Ginger – 1 tbsp (chopped)</li>
          <li>Green chillies – 2-3 nos. (Slit)</li>
          <li>Kashmiri Red chilli powder – 1 tbsp</li>
          <li>Makhani gravy base</li>
          <li>Hot water as required</li>
          <li>Sugar/honey – 1 tsp</li>
          <li>Grilled chicken shredded</li>
          <li>Kasuri methi – ½ tsp (Toasted)</li>
          <li>Garam masala – ½ tsp</li>
          <li>Salt to taste</li>
          <li>Butter – 2 tbsp</li>
          <li>Fresh cream – 5-6 tbsp</li>
          <li>Fresh coriander as required (Chopped)</li>
      </ul>
  </section>

<section class="instructions">
      <h3>Final Cooking for Butter Chicken</h3>
      <ol style="list-style: none;">
          <li>Set a wok on medium heat, add oil and butter, onions, Ginger, garlic and green chillies, saute until the onions are translucent.
          Lower the heat and add kashmiri Red chilli powder, cook for about ½ minute to one minute, mix and further add the strained Makhani gravy base. You can add some hot water to adjust the consistency of the gravy.
          Add sugar/honey, and cook for 15-20 minutes on medium flame, keep stirring in short intervals.
          Now add the shredded grilled chicken, stir well, add some hot water if required to adjust the consistency.
          Cook further for 5-6 minutes on medium flame.
          Now add, Kasuri methi and garam masala, mix well and check for the seasoning, adjust Salt as required.
          Lower the flame and add butter and fresh cream, stir well and cook for a minute, do not overcook.
          Finish it with some freshly chopped coriander leaves.
          Butter chicken is ready, serve hot with butter garlic paratha or naan or any Indian bread of your choice.</li>
      </ol>
  </section>

  <iframe width="560" height="315" src="https://www.youtube.com/embed/RKNogWbAivY" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

  </div>
