*{
    padding: 0;
    margin: 0;
    box-sizing: content-box;
    
}

.recipe {
    font-family: Arial, sans-serif;
    padding: 20px;
    max-width: 800px;
    margin: 20px auto;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 5px rgba(0,0,0,0.1);
}

h1, h2, h3 {
    color: #333;
}

ul, ol {
    margin-left: 20px;
}
