/* We are importing butterchicken compoenent css file into chickenmasala component css file
so we don't have to write the same code again and agian reduce the boiler plate.
*/

@import '../butterchicken/butterchicken.component.css';

.prep-time{

    padding: 0.6rem;
    border:1px solid gray;
    border-radius: 6px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: clamp(1em 2vw 1.2em);
    margin: 0.7rem 0 0.7rem 0.5rem;
    box-shadow:3px 3px 3px 1px grey;
}
.chk-marinate{
      margin: 10px 0 10px 50px;
}
@media screen and (max-width:600px) {
    h2{
        margin: auto;
        padding: auto;

    }
    .chk-marinate{
        margin: auto;
        padding: auto;
    }
    
}